<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>
<h2>User Info</h2>
<br>

<form th:action="@{/saveUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Name: <input type="text" th:field="*{name}"/>
    <br><br>
    Surname: <input type="text" th:field="*{surname}"/>
    <br><br>
    Year of birth: <input type="number" th:field="*{birthYear}"/>
    <br><br>
    Height: <input type="number" step="0.01" th:field="*{height}"/>
    <br><br>
    Weight: <input type="number" step="0.01" th:field="*{weight}"/>
    <br><br>
    <input type="submit" value="OK">
    <input type="button" value="CANCEL" onclick="window.location.href='cancel'"/>

</form>

</body>
</html>
